{% extends "base.html" %}

{% block layout %}

<style>
  #entryModal .modal-body {
    max-height: 70vh;
    overflow-y: auto;
  }
</style>

<div class="card">

  <div class="d-flex justify-content-between p-2">
    <h5>Production</h5>

    <div class="d-flex gap-2">
      <input type="text" id="search" class="form-control" placeholder="Search">
      <button class="btn btn-primary" onclick="openEntry()">+ Add Production</button>
    </div>

  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Supplier</th>
          <th>Product</th>
          <th>Refrence</th>
          <th>Total</th>
          <th>Paid</th>
          <th>Credit</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="table_body"></tbody>
    </table>
    <ul id="pagination-demo" class="pagination-sm"></ul>
  </div>

</div>

<!-- ================= ENTRY MODAL ================= -->

<div class="modal fade" id="entryModal">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5>Add Production</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col">

            <label>Mode</label>
            <select id="mode" class="form-control " onchange="switchMode()">
              <option value="manual">Manual</option>
              <option value="order">From Order</option>
            </select>
          </div>

          <div class="col">
            <label>Supplier</label>
            <select id="supplier" class="form-control "></select>
          </div>
        </div>
        <!-- ================= MANUAL ================= -->
        <div id="manualSection">

          <div class="row">


            <div class="col">
              <label>Product</label>
              <select id="product" class="form-control" onchange="getRecipelist()"></select>
            </div>
            <div class="col">
              <label>Recipe</label>
              <select id="recipe" class="form-control" onchange="update_required_qty()"></select>
            </div>
            <div class="col">
              <label>Required Qty / Unit</label>
              <input id="required_qty" class="form-control">
            </div>
          </div>

          <button class="btn btn-info mt-2" onclick="generateProduction()">Generate Items</button>

          <div class="mt-3" style="max-height:300px;overflow:auto;">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Qty</th>
                  <th>Unit</th>
                  <th>Rate</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody id="production_body_manual"></tbody>
            </table>
          </div>

        </div>

        <!-- ================= ORDER ================= -->
        <div id="orderSection" style="display:none;">

          <label>Order ID</label>
          <input id="order_id" class="form-control">

          <button class="btn btn-info mt-2" onclick="fetchRequirement()">Fetch Requirement</button>

          <div style="max-height:300px;overflow:auto;">

            <h6>Product Requirement</h6>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Ordered</th>
                  <th>Stock</th>
                  <th>Required</th>
                </tr>
              </thead>
              <tbody id="product_table"></tbody>
            </table>

            <h6>Total Production Items</h6>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Qty</th>
                  <th>Unit</th>
                  <th>Rate</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody id="production_body"></tbody>
            </table>

          </div>

        </div>

        <label class="mt-2">Grand Total</label>
        <input id="grand_total" class="form-control" readonly>

        <label class="mt-2">Paid</label>
        <input id="paid" class="form-control">

        <label class="mt-2">Credit</label>
        <input id="credit" class="form-control" readonly>

      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" onclick="saveEntry()">Save</button>
      </div>

    </div>

  </div>
</div>

<!-- ================= DETAILS MODAL ================= -->

<div class="modal fade" id="detailModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Details</h5>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Qty</th>
              <th>Unit</th>
              <th>Rate</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody id="detail_body"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="completeModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5>Complete Production</h5>
      </div>

      <div class="modal-body">
        <div class="outputproducts">
          <div class="heading">
            <h6>Expected Output:</h6>
          </div>
          <div id="products_html" class="mb-2"></div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Raw Product</th>
              <th>Actual Output Quantity</th>
            </tr>
          </thead>
          <tbody id="raw_product_body"></tbody>
        </table>

      </div>

      <div class="modal-footer">
        <button class="btn btn-success" onclick="confirmComplete()">Confirm</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block page_js %}
{{block.super}}

<script>

  // ================= INIT =================
  $(document).ready(() => {
    loadData();
    // loadDropdowns();
  });

  // ================= MODE =================
  function switchMode() {
    let m = $("#mode").val();
    $("#manualSection").toggle(m == "manual");
    $("#orderSection").toggle(m == "order");
  }

  // ================= LOAD =================
  let currentPage = 1;

  function loadData(page = 1) {

    currentPage = page;

    let fd = new FormData();
    fd.append("p", page);
    fd.append("search", $("#search").val());
    fd.append("csrfmiddlewaretoken", "{{csrf_token}}");

    $.ajax({
      url: hosturl + "/api/Production/production_list_pagination_api",
      type: "POST",
      data: fd,
      processData: false,
      contentType: false,

      success: function (res) {

        let html = "";

        res.results.forEach(o => {
          html += `
                <tr>
                    <td>${o.supplier_name}</td>
                    <td>${o.product_names}</td>
                    <td>${o.order_id ? 'ORDER-' + o.order_id : 'Manual Production'}</td>
                    <td>${o.total_amount}</td>
                    <td>${o.paid_amount}</td>
                    <td>${o.credit_amount}</td>
                    <td>${statusBadge(o)}</td>
                    <td>
                        <button class="btn btn-info btn-sm" onclick="viewDetails(${o.id})">View</button>
                        ${o.status == "completed" ? `
                        `: `
                        <button class="btn btn-success btn-sm" onclick="completeProduction(${o.id})">Complete</button>
                        <button class="btn btn-danger btn-sm" onclick="deleteProduction(${o.id})">Delete</button>`}
                        
                    </td>
                </tr>`;
        });

        $("#table_body").html(html);

        // ================= PAGINATION =================
        $('#pagination-demo').twbsPagination('destroy');

        let totalPages = Math.ceil(res.count / 10) || 1;

        $('#pagination-demo').twbsPagination({
          totalPages: totalPages,
          startPage: page,
          visiblePages: 5,

          onPageClick: function (event, p) {

            if (p != currentPage) {
              loadData(p);
            }
          }
        });
      }
    });
  }
  // ================= GENERATE =================
  function generateProduction() {

    let product = $("#product").val();
    let recipe = $("#recipe").val();
    let qty = parseFloat($("#required_qty").val()) || 0;

    if (!product) {
      swal("Error", "Enter valid product", "error");
      return;
    }
    if (!recipe) {
      swal("Error", "Enter valid recipe", "error");
      return;
    }
    if (qty <= 0) {
      swal("Error", "Enter valid  qty", "error");
      return;
    }
    $.post(hosturl + "/api/Production/get_mapping_by_product",
      { csrfmiddlewaretoken: '{{csrf_token}}', product: product, quantity: qty },
      function (res) {
        if (res.response.n == 1) {
          let html = "";
          res.data.raw_products.forEach(o => {

            html += `
            <tr>
                <td>${o.raw_product_name}</td>
                <td><input value="${o.quantity}" class="form-control qty" data-item="${o.raw_product_id}"></td>
                <td class="unit" data-unit="${o.unit}">${o.unit_name}</td>
                <td><input value="0" class="form-control rate"></td>
                <td class="item_total">0</td>
            </tr>`;
          });

          $("#production_body_manual").html(html);
        } else {
          swal("Error", res.response.msg, "error");
          $("#production_body_manual").html('');
        }
      });
  }

  // ================= CALC =================
  $(document).on("keyup", ".qty,.rate,#paid", function () {

    let grand = 0;

    $("#production_body_manual tr, #production_body tr").each(function () {

      let q = parseFloat($(this).find(".qty").val()) || 0;
      let r = parseFloat($(this).find(".rate").val()) || 0;

      let t = q * r;
      $(this).find(".item_total").text(t.toFixed(2));

      grand += t;
    });

    $("#grand_total").val(grand);

    let paid = parseFloat($("#paid").val()) || 0;
    $("#credit").val(grand - paid);
  });

  // ================= SAVE =================
  function saveEntry() {

    let items = [];

    $("#production_body_manual tr, #production_body tr").each(function () {

      let q = parseFloat($(this).find(".qty").val()) || 0;
      let r = parseFloat($(this).find(".rate").val()) || 0;
      let item = $(this).find(".qty").data("item");
      let unit = $(this).find(".unit").data("unit");

      if (q > 0) {
        items.push({ item_id: item, quantity: q, rate: r, unit: unit });
      }
    });



    if (items.length == 0) {
      swal("Error", "No items added", "error"); return;
    }
    var products = [];
    if ($('#mode').val() == 'manual') {
      if ($("#recipe option:selected").data("unit") == '' || $("#recipe option:selected").data("unit") == null) {
        swal("Error", "Please select recipe", "error"); return;
      }
      products.push({
        product_id: $("#product").val(),
        quantity: $("#required_qty").val(),
        unit: $("#recipe option:selected").data("unit")
      })



    } else {
      $("#product_table tr").each(function () {
        let pq = parseFloat($(this).find(".requiredqty").data("requiredqty")) || 0;
        let product_id = $(this).find(".product").data("product");
        let unit = $(this).find(".product").data("unit");
        if (pq > 0) {
          products.push({ product_id: product_id, quantity: pq, unit: unit });
        }
      });
    }


    $.ajax({
      url: hosturl + "/api/Production/create_production",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify({
        supplier_id: $("#supplier").val(),
        products: products,
        paid_amount: $("#paid").val(),
        order_id: $("#order_id").val(),
        items: items
      }),
      success: function (res) {

        if (res.response.n == 1) {
          swal("Success", res.response.msg, "success");
          $("#entryModal").modal('hide');
          loadData();
        } else {
          swal("Error", res.response.msg, "error");
        }
      }
    });
  }

  // ================= STATUS =================
  function statusBadge(o) {
    return o.status == "completed"
      ? '<span class="badge bg-success">Completed</span>'
      : '<span class="badge bg-warning">Processing</span>';
  }

  function fetchRequirement() {

    $.post(hosturl + "/api/Production/requirement_by_order",
      {
        csrfmiddlewaretoken: '{{csrf_token}}',
        order_id: $("#order_id").val()
      },
      function (res) {

        if (res.response.n == 0) {
          swal("Error", res.response.msg, "error");
          return;
        }

        let product_html = "";
        let production_html = "";

        // PRODUCTS TABLE
        res.data.products.forEach(p => {
          let color = p.required_qty > 0 ? 'text-danger' : 'text-success';
          if (p.mapping_exist) {
            product_html += `
            <tr>
                <td class="product" data-product="${p.product_id}" data-unit="${p.product_unit}">${p.product_name} ${p.pack_size} ${p.product_unit_name}</td>
                <td>${p.ordered_qty}</td>
                <td>${p.available_stock}</td>
                <td class="${color} requiredqty" data-requiredqty="${p.required_qty}">${p.required_qty}</td>
            </tr>`;
          } else {
            product_html += `
            <tr>
                <td><div><strike>${p.product_name} ${p.pack_size} ${p.product_unit}</strike></div><div class="text-danger"><small>Recipe Items Not Mapped</small></div></td>
                <td><strike>${p.ordered_qty}</strike></td>
                <td><strike>${p.available_stock}</strike></td>
                <td><strike>${p.required_qty}</strike></td>
            </tr>`;
          }



        });

        $("#product_table").html(product_html);

        // PROCUREMENT ITEMS
        res.data.production_items.forEach(o => {
          production_html += `
            <tr>
                <td>${o.production_item_name}</td>
                <td>
                    <input type="number" value="${o.required_qty}" 
                        class="form-control qty" data-item="${o.production_item}">
                </td>
                <td class="unit" data-unit="${o.unit}">${o.unit_name}</td>
                <td><input value="0" class="form-control rate"></td>
                <td class="item_total">0</td>
            </tr>`;
        });

        $("#production_body").html(production_html);
      });
  }
  
  function viewDetails(id) {

    $.post(hosturl + "/api/Production/production_details",
      {
        csrfmiddlewaretoken: '{{csrf_token}}',
        id: id
      },
      function (res) {

        if (res.response.n == 0) {
          swal("Error", res.response.msg, "error");
          return;
        }

        let html = "";

        res.data.items.forEach(o => {
          html += `
            <tr>
                <td>${o.production_item_name}</td>
                <td>${o.quantity}</td>
                <td>${o.production_item_unit_name}</td>
                <td>${o.rate}</td>
                <td>${o.total}</td>
            </tr>`;
        });

        $("#detail_body").html(html);
        $("#detailModal").modal("show");
      });
  }

  function completeProduction(id) {

    window.currentProduction = id;

    $.post(hosturl + "/api/Masters/getproductionexpectedrawproductlist", {
      csrfmiddlewaretoken: '{{csrf_token}}',
      production_id: id
    }, function (res) {
      if (res.response.n == 1) {


        let html = "";

        res.data.raw_materials.forEach(v => {
          html += `
            <tr>
                <td>${v.production_item_name} (${v.production_item_unit_name})</td>
                <td>
                    <input type="number" 
                        class="form-control raw_product_qty"
                        data-id="${v.raw_material_id}" value=${v.quantity} data-unit=${v.unit}>
                </td>
            </tr>`;
        });
        $("#raw_product_body").html(html);
        $("#completeModal").modal("show");
      } else {
        swal("Error", res.response.msg, "error");
      }
    });
  }
  
  function confirmComplete() {

    let outputs = [];

    $(".raw_product_qty").each(function () {

      let qty = parseFloat($(this).val()) || 0;
      let id = $(this).data("id");
      let unit = $(this).data("unit");

      if (qty > 0) {
        outputs.push({
          raw_product_id: id,
          unit: unit,
          quantity: qty
        });
      }
    });

    if (outputs.length == 0) {
      swal("Error", "Enter output quantities", "error");
      return;
    }

    $.ajax({
      url: hosturl + "/api/Production/complete_production",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify({
        id: currentProduction,
        outputs: outputs
      }),
      success: function (res) {

        if (res.response.n == 1) {
          swal("Success", res.response.msg, "success");
          $("#completeModal").modal("hide");
          loadData();
        } else {
          swal("Error", res.response.msg, "error");
        }
      }
    });
  }

  function deleteProduction(id) {

    swal({
      title: "Delete?",
      text: "This cannot be undone",
      icon: "warning",
      buttons: true
    }).then((ok) => {

      if (ok) {
        $.post(hosturl + "/api/Production/delete_production",
          {
            csrfmiddlewaretoken: '{{csrf_token}}',
            id: id
          },
          function (res) {

            if (res.response.n == 1) {
              swal("Deleted", res.response.msg, "success");
              loadData();
            } else {
              swal("Error", res.response.msg, "error");
            }
          });
      }
    });
  }
  
  function loadDropdowns() {

    $.get(hosturl + "/api/Partners/vendorlist", function (res) {
      let html = '<option value="">Select Supplier</option>';
      res.data.forEach(o => {
        html += `<option value="${o.id}">${o.name}</option>`;
      });
      $("#supplier").html(html);
    });

    $.get(hosturl + "/api/Masters/productionreadyproductlist", function (res) {
      let html = '<option value="">Select Product</option>';
      res.data.forEach(o => {
        html += `<option value="${o.id}">${o.name}</option>`;
      });
      $("#product").html(html);
    });



  }

  function getRecipelist() {
    let product = $("#product").val();

    $.post(hosturl + "/api/Production/get_product_recipe_list",
      { csrfmiddlewaretoken: '{{csrf_token}}', product: product },
      function (res) {



        let html = '<option value="">Select Recipe</option>';
        res.data.forEach(o => {
          html += `
<option
    value="${o.id}"
    data-qty="${o.standard_output_qty}"
    data-unit="${o.output_unit}"
    data-unit-name="${o.output_unit_name}">
    ${o.recipe_code} (${o.recipe_name} ${o.standard_output_qty} ${o.output_unit_name})
</option>`;


        });
        $("#recipe").html(html);
      });

  }
  
  function update_required_qty() {

    let option = $("#recipe option:selected");

    if (option.val() == "") {
      $("#required_qty").val("");
      return;
    }

    let qty = parseFloat(option.data("qty")) || 0;
    let unitName = option.data("unit-name") || "";

    $("#required_qty").val(`${qty}`);
  }
  
  function openEntry() {

    $("#entryModal").modal('show');

    $("#production_body_manual").html("");
    $("#production_body").html("");
    $("#product_table").html("");

    $("#required_qty").val("");
    $("#paid").val("");
    $("#grand_total").val("");
    $("#credit").val("");
  }
</script>

{% endblock %}