{% extends "base.html" %}

{% block layout %}
<div class="row">
  <div class="col-xl">
    <div class="card">
      <div class="card-header">
        <h5>Edit SubCategory</h5>
      </div>

      <div class="card-body">
        <form>
          {% csrf_token %}

          <div class="form-floating mb-4">
            <input type="text" id="name" class="form-control" value="{{subcategory.name}}">
            <label>Name</label>
          </div>

          <div class="form-floating mb-4">
            <select id="category" class="form-select select2-init">
              <option value="">Select Category</option>
              {% for c in categories %}
                {% if c.id|stringformat:"s" == subcategory.category|stringformat:"s" %}
                  <option value="{{c.id}}" selected>{{c.name}}</option>
                {% else %}
                  <option value="{{c.id}}">{{c.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
            <label>Category</label>
          </div>

          <div class="btn btn-primary" onclick="return updateSubCategory()">Update</div>
          <a href="/masters/subcategory-list" class="btn btn-danger">Cancel</a>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_js %}
{{block.super}}

<script>
function updateSubCategory(){
    var name = $("#name").val().trim();
    var category = $("#category").val();

    if(IsValid(name)){
        swal("Error","Enter name","error");
        return false;
    }

    if(IsValid(category)){
        swal("Error","Select category","error");
        return false;
    }

    var fd = new FormData();
    fd.append('csrfmiddlewaretoken','{{csrf_token}}');
    fd.append('name',name);
    fd.append('category',category);
    fd.append('subcategoryid','{{subcategory.id}}');

    $.ajax({
        url: hosturl + "/masters/edit-subcategory/{{subcategory.id}}",
        type:'POST',
        data:fd,
        processData:false,
        contentType:false,
        beforeSend:function(){
            swal({icon:"info",text:"Updating...",buttons:false});
        },
        success:function(res){
            if(res.response.n==1){
                swal("Success",res.response.msg,"success").then(()=>{
                    window.location.href = hosturl + "/masters/subcategory-list";
                });
            }else{
                swal("Error",res.response.msg,"error");
            }
        }
    });
}
</script>
{% endblock %}