{% load static %}

<!--Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap" rel="stylesheet">

<!-- Icons -->
<link rel="stylesheet" href="{% static 'assets/vendor/fonts/remixicon/remixicon.css' %}" />


<!--Core CSS -->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/node-waves/node-waves.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" />


<link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />

<!--Vendor CSS-->
<link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
